<header class="header">



  <ul class="header-ul">
      <h1 class="header-h1">Step<br>Ordering</h1>
  
      <div class="header-ul-a">
  
  <li><h1><a routerLink="/">Home</a></h1></li>
  <h1 class="header-ul-h1"><a routerLink="BasketComponent"><span style="background-color: red;border-radius: 5px;">Cart</span><i   class="fa-solid fa-cart-shopping"></i></a></h1>
  
  </div>
  
  
  
  
  </ul>
  
  <h1 class="header-main-h1">fast And Efficient,Online Ordering You Must Try</h1>
  
  <img class="header-img" src="https://cdn.pixabay.com/photo/2024/04/06/07/47/cheeseburger-8678826_1280.jpg">
  
  
  
  
  </header>

  <div class="navbar-ul">


    <nav class="navbar-container">
    
    <ul class="ul-container">
    
    <li ><a routerLink="AllproductsComponent" class="navbar-li">All</a></li>
    
    <li ><a routerLink="SaladsComponent" class="navbar-li">SaladsComponent</a></li>
    
    
    <li ><a routerLink="SoupsComponent" class="navbar-li">SoupsComponent</a></li>
    
    
    <li ><a routerLink="ChikenDishesComponent" class="navbar-li">ChikenDishesComponent</a></li>
    
    
    <li ><a routerLink="BeefDishesComponent" class="navbar-li">BeefDishesComponent</a></li>
    
    
    <li ><a routerLink="SeafoodDishesComponent" class="navbar-li">SeaDishesComponent</a></li>
    
    
    <li ><a routerLink="VegatebleDishesComponent" class="navbar-li">VegatebleDishesComponent</a></li>
    
    
    <li ><a routerLink="BitesComponent" class="navbar-li">BitesComponent</a></li>
    
    
    <li > <a routerLink="OnTheSideComponent" class="navbar-li">OnTheSideComponent</a></li>
    
    
    <li ><a routerLink="BasketComponent" class="navbar-li">BasketComponent</a></li>
    </ul>
    
    
    </nav>
    
    
    
    </div>

    
<router-outlet />
